<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <!-- Interface -->
    <category label="30274">

        <!-- General -->
        <setting type="lsep" label="30086"/>
        <setting id="general.localtimezone" type="text" label="30577" default="" enable="False"/>
        <setting id="general.manualtimezone" type="bool" default="false" visible="false"/>
        <setting id="general.choosetimezone" type="action" subsetting="true" label="30578"
                 action="RunPlugin(plugin://plugin.video.seren/?action=chooseTimeZone)" visible="eq(-1,true)"/>
        <setting id="searchHistory" type="bool" label="30173" default="false"/>
        <setting id="general.flatten.episodes" type="bool" label="30221" default="false"/>
        <setting id="general.hideSpecials" type="bool" label="30185" default="true"/>
        <setting id="general.hideUnAired" type="bool" label="30183" default="true"/>
        <setting id="general.hideWatched" type="bool" label="30475" default="false"/>
        <setting id="general.datedelay" type="bool" label="30177" default="false"/>
        <setting id="trakt.auth" type="text" default="" visible="false"/>
        <setting id="nextup.sort" type="enum" label="30090" default="0" lvalues="30091|30092" enable="!eq(-1,)"/>
        <setting id="general.sourceselectlines" type="bool" label="30093" default="true" visible="false"/>
        <setting id="general.textColorSelect" type="action" label="30105" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=colorPicker)"/>
        <setting id="general.displayColor" type="text" label="30106" default="None" enable="false"/>
        <setting id="general.setViews" type="bool" label="30148" default="false"/>
        <setting id="general.viewidswitch" type="bool" subsetting='true' label="30096" default="false"
                 visible="eq(-1,true)"/>
        <setting id="addon.view" type="enum" subsetting="true" label="30197"
                 lvalues='30236|30237|30238|30239|30240|30241|30242|30243|30244' default="0"
                 visible="eq(-1,false) + eq(-2,true)"/>
        <setting id="addon.view.id" type="number" subsetting="true" label="30198" default=""
                 visible="eq(-2,true) + eq(-3,true)"/>
        <setting id="movie.view" type="enum" subsetting="true" label="30097"
                 lvalues='30236|30237|30238|30239|30240|30241|30242|30243|30244' default="0"
                 visible="eq(-3,false) + eq(-4,true)"/>
        <setting id="movie.view.id" type="number" subsetting="true" label="30098" default=""
                 visible="eq(-4,true) + eq(-5,true)"/>
        <setting id="show.view" type="enum" subsetting="true" label="30099"
                 lvalues='30236|30237|30238|30239|30240|30241|30242|30243|30244' default="0"
                 visible="eq(-5,false) + eq(-6,true)"/>
        <setting id="show.view.id" type="number" subsetting="true" label="30100" default=""
                 visible="eq(-6,true) + eq(-7,true)"/>
        <setting id="episode.view" type="enum" subsetting="true" label="30101"
                 lvalues='30236|30237|30238|30239|30240|30241|30242|30243|30244' default="0"
                 visible="eq(-7,false) + eq(-8,true)"/>
        <setting id="episode.view.id" type="number" subsetting="true" label="30102" default=""
                 visible="eq(-8,true) + eq(-9,true)"/>
        <setting id="season.view" type="enum" subsetting="true" label="30103"
                 lvalues='30236|30237|30238|30239|30240|30241|30242|30243|30244' default="0"
                 visible="eq(-9,false) + eq(-10,true)"/>
        <setting id="season.view.id" type="number" subsetting="true" label="30104" default=""
                 visible="eq(-10,true) + eq(-11,true)"/>
        <setting id="general.paginatetraktlists" type="bool" label="30345" default="true"/>
        <setting id="general.paginatecollection" type="bool" label="30466" default="true"/>
        <setting id="general.sortcollection" type="enum" label="30567" default="0" lvalues="30568|30569"/>
        <setting id="general.genres.endpoint" type="enum" label="30470" default="0" lvalues="30006|30004"/>
        <setting id="general.subtitle.enable" type="bool" label="30474" default="true"/>
        <setting id="general.widget.hide_next" type="bool" label="30476" default="false"/>
        <!-- Themes -->
        <setting type="lsep" label="30212"/>
        <setting id="skin.updateAutomatic" label="30360" default="True" type="bool"/>
        <setting id="skin.active" type="text" label="30213" default="Seren Fox" enable="false"/>
        <setting id="skin.install" type="action" label="30216"
                 action="RunPlugin(plugin://plugin.video.seren/?action=installSkin)"/>
        <setting id="skin.uninstall" type="action" label="30215"
                 action="RunPlugin(plugin://plugin.video.seren/?action=uninstallSkin)"/>
        <setting id="skin.switch" type="action" label="30214"
                 action="RunPlugin(plugin://plugin.video.seren/?action=switchSkin)"/>
        <setting id="skin.updates" type="action" label="30146"
                 action="RunPlugin(plugin://plugin.video.seren/?action=checkSkinUpdates)"/>
        <setting id="skin.testmenu" type="bool" label="30575" default="false"/>

        <!-- Advanced -->
        <setting type="lsep" label="30276"/>
        <setting type="bool" id="general.fanart.fallback" label="30512" default="false" />
        <setting id="general.menucaching" type="bool" label="30206" default="true"/>
        <setting id="general.appendtitles" type="enum" label="30150" default="3" lvalues="30378|30379|30380|30381"/>
        <setting id="general.appendepisodegeneral" type="enum" label="30491" default="0"
                 lvalues="30378|30379|30380|30381"/>
        <setting id="general.appendListTitles" type="enum" label="30383" default="1" lvalues="30384|30385"/>
        <setting id="general.disableNotificationSound" type="bool" label="30382" default="false"/>
        <setting id="general.showRemainingUnwatched" type="bool" label="30467" default="false"/>
        <setting id="item.limit" type="slider" label="30095" option="int" range="10,100" default="20"/>
        <setting id="general.metalocation" type="enum" label="30094" lvalues="30136|30271|30272" default="1"/>
        <setting id="general.meta.showoriginaltitle" type="bool" label="30477" default="false"/>
        <setting id="general.force.widget.refresh.playback" type="bool" label="30504" default="false"/>


        <!-- HIDDEN SETTINGS BELONG HERE -->
        <setting id="migration.attempted" type="bool" default="false" visible="false"/>
        <setting id="tvdb.jw" type="text" default="" visible="false"/>
        <setting id="tvdb.expiry" type="text" default="0" visible="false"/>
        <setting id="trakt.auth" type="text" default="" visible="false"/>
        <setting id="trakt.refresh" type="text" default="" visible="false"/>
        <setting id="trakt.expires" type="number" default="" visible="false"/>
        <setting id="rd.auth" type="text" default="" visible="false"/>
        <setting id="rd.refresh" type="text" default="" visible="false"/>
        <setting id="rd.client_id" type="text" default="" visible="false"/>
        <setting id="rd.expiry" type="text" default="0" visible="false"/>
        <setting id="rd.secret" type="text" default="" visible="false"/>
        <setting id="premiumize.token" type="text" default="" visible="false"/>
        <setting id="general.textColor" type="text" default="" visible="false"/>
        <setting id="alldebrid.apikey" type="text" default="" visible="false"/>
        <setting id="general.trakt.failure.timeout" type="number" visible="false" default="0"/>
        <setting id="update.news.version" type="text" default="" visible="false"/>
        <setting id="seren.version" type="text" default="" visible="false"/>
        <!-- END HIDDEN SETTINGS -->
    </category>

    <category label="30275">

        <!-- Fanart.TV -->
        <setting type="lsep" label="30176"/>
        <setting type="sep"/>
        <setting id="fanart.apikey" type="text" label="30175" default=""/>
        <setting id="artwork.preferredsize" label="30363" type="enum" default="1" lvalues="30364|30365|30366"/>

        <!-- Artwork Settings -->
        <setting type="lsep" label="30285"/>
        <setting type="sep"/>
        <setting id="movies.preferedsource" type="enum" label="30269" lvalues="30176|30271" default="1"
                 enable="!eq(-3,)"/>
        <setting id="movie.artwork.advanced" type="bool" label="30281" default="false"/>
        <setting id="movies.poster_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30280]: $ADDON[plugin.video.seren 30237]" option="int" range="1,1,10"
                 default="1" visible="eq(-1,true)"/>
        <setting id="movies.fanart_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30280]: $ADDON[plugin.video.seren 30244]" option="int" range="1,1,20"
                 default="1" visible="eq(-2,true)"/>
        <setting id="movies.banner" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30280]: $ADDON[plugin.video.seren 30243]" default="true"
                 visible="eq(-3,true)"/>
        <setting id="movies.landscape" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30280]: $ADDON[plugin.video.seren 30331]" default="true"
                 visible="eq(-4,true)"/>
        <setting id="movies.keyart_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30280]: $ADDON[plugin.video.seren 30329]" option="int" range="0,1,10"
                 default="0" visible="eq(-5,true) + !eq(-9,)"/>
        <setting id="movies.clearlogo" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30280]: $ADDON[plugin.video.seren 30330]" default="true"
                 visible="eq(-6,true) + !eq(-10,)"/>
        <setting id="movies.clearart" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30280]: $ADDON[plugin.video.seren 30333]" default="true"
                 visible="eq(-7,true) + !eq(-11,)"/>
        <setting id="movies.discart" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30280]: $ADDON[plugin.video.seren 30334]" default="true"
                 visible="eq(-8,true) + !eq(-12,)"/>
        <setting id="movies.characterart_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30280]: $ADDON[plugin.video.seren 30332]" option="int" range="0,1,20"
                 default="0" visible="eq(-9,true) + !eq(-13,)"/>

        <setting type="lsep" label="30286"/>
        <setting type="sep"/>
        <setting id="tvshows.preferedsource" type="enum" label="30270" lvalues="30176|30271|30272" default="1"
                 enable="!eq(-16,)"/>
        <setting id="tv.artwork.advanced" type="bool" label="30282" default="false"/>
        <setting id="tvshows.poster_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30279]: $ADDON[plugin.video.seren 30237]" option="int" range="1,1,10"
                 default="1" visible="eq(-1,true)"/>
        <setting id="tvshows.fanart_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30279]: $ADDON[plugin.video.seren 30244]" option="int" range="1,1,20"
                 default="1" visible="eq(-2,true)"/>
        <setting id="tvshows.banner" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30279]: $ADDON[plugin.video.seren 30243]" default="true"
                 visible="eq(-3,true)"/>
        <setting id="tvshows.landscape" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30279]: $ADDON[plugin.video.seren 30331]" default="true"
                 visible="eq(-4,true)"/>
        <setting id="tvshows.keyart_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30279]: $ADDON[plugin.video.seren 30329]" option="int" range="0,1,10"
                 default="0" visible="eq(-5,true) + !eq(-22,)"/>
        <setting id="tvshows.clearlogo" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30279]: $ADDON[plugin.video.seren 30330]" default="true"
                 visible="eq(-6,true) + !eq(-23,)"/>
        <setting id="tvshows.clearart" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30279]: $ADDON[plugin.video.seren 30333]" default="true"
                 visible="eq(-7,true) + !eq(-24,)"/>
        <setting id="tvshows.characterart_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30279]: $ADDON[plugin.video.seren 30332]" option="int" range="0,1,20"
                 default="0" visible="eq(-8,true) + !eq(-25,)"/>
        <setting id="season.poster" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30277]: $ADDON[plugin.video.seren 30237]" default="true"
                 visible="eq(-9,true)"/>
        <setting id="season.banner" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30277]: $ADDON[plugin.video.seren 30243]" default="true"
                 visible="eq(-10,true)"/>
        <setting id="season.landscape" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30277]: $ADDON[plugin.video.seren 30331]" default="true"
                 visible="eq(-11,true)"/>
        <setting id="season.fanart" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30277]: $ADDON[plugin.video.seren 30244]" default="true"
                 visible="eq(-12,true)"/>
        <setting id="episode.fanart" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30278]: $ADDON[plugin.video.seren 30244]" default="true"
                 visible="eq(-13,true)"/>
    </category>

    <!-- Scraping -->
    <category label="30113">

        <!-- General -->
        <setting type="lsep" label="30086"/>
        <setting type="sep"/>
        <setting id="general.scrapedisplay" type="enum" label="30187" lvalues="30188|30189" default="0"/>
        <setting id="general.torrentCache" type="bool" label="30114" default="true"/>
        <setting id="general.threadpoolScale" type="enum" label="30570"
                 lvalues="30571|30572|30573|30574" default="1"/>
        <setting id="general.timeout" type="slider" label="30116" option="int" range="10,180" default="60"/>

        <!-- Auto Caching Assistant -->
        <setting type="lsep" label="30117"/>
        <setting type="sep"/>
        <setting id="general.autocache" type="bool" label="30118" default="true"/>
        <setting id="general.cacheAssistMode" type="enum" subsetting="true" label="30119" lvalues="30245|30246"
                 visible="eq(-1,true)"/>
        <setting id="general.cachelocation" type="enum" subsetting="true" label="30120" lvalues="30141|30142|30354"
                 visible="eq(-2,true)"/>

        <!-- Preemptive Termination -->
        <setting type="lsep" label="30128"/>
        <setting type="sep"/>
        <setting id="preem.enabled" type="bool" label="30129" default="true"/>
        <setting id="preem.movieres" type="enum" subsetting="true" label="30130" values="4K|1080p|720p|SD" default="0"
                 visible="eq(-1,true)"/>
        <setting id="preem.tvres" type="enum" subsetting="true" label="30131" values="4K|1080p|720p|SD" default="1"
                 visible="eq(-2,true)"/>
        <setting id="preem.limit" type="slider" subsetting="true" label="30132" option="int" range="0,20" default="5"
                 visible="eq(-3,true)"/>
        <setting id="preem.type" type="enum" subsetting="true" label="30133" lvalues="30247|30248|30249" default="0"
                 visible="eq(-4,true)"/>
        <setting id="preem.cloudfiles" type="bool" label="30201" default="true"/>
        <setting id="preem.adaptiveSources" type="bool" label="30506" default="true"/>
    </category>

    <!-- Downloads -->
    <category label="30497">
        <setting id="set.download.location" type="action" label="30468"
                 action="RunPlugin(plugin://plugin.video.seren/?action=setDownloadLocation)"/>
        <setting id="download.location" type="text" label="30469" enable="false" default="userdata"/>
    </category>

    <!-- Playback -->
    <category label="30273">

        <!-- General -->
        <setting type="lsep" label="30086"/>
        <setting id="general.playstyleMovie" type="enum" label="30204" lvalues="30088|30089" default="0"/>
        <setting id="general.playstyleEpisodes" type="enum" label="30087" lvalues="30088|30089" default="0"/>
        <setting id="general.autotrynext" type="bool" label="30208" default="true"/>
        <setting id="general.resolvefailurehandling" type="enum" label="30516" lvalues="30517|30518" default="1"/>
        <setting id="general.bookmarkstyle" type="enum" label="30112" default="0" lvalues="30350|30245|30351"/>
        <setting id="smartplay.displaystyle" type="enum" label="30335" lvalues="30188|30189" default="0"/>
        <setting id="smartplay.playlistcreate" type="bool" label="30109" default="true"/>
        <setting id="smartplay.clickresume" type="bool" label="30110" default="false"/>
        <setting id="smartPlay.preScrape" type="bool" label="30111" default="true"/>

        <!-- Next Episode Dialog -->
        <setting type="lsep" label="30336"/>
        <setting type="sep"/>
        <setting id="smartplay.playingnextdialog" type="bool" label="30107" default="true"/>
        <setting id="playingnext.time" type="slider" subsetting="true" label="30108" option="int" range="10,180"
                 default="30" visible="eq(-1,true)"/>
        <!--<setting id="playingnext.dialogstyle" type="enum" subsetting="true" label="30337" lvalues="30188|30338" default="0" visible="eq(-2,true)" />-->
        <setting id="playingnext.defaultaction" type="enum" subsetting="true" label="30339" lvalues="30340|30341"
                 default="0" visible="eq(-2,true)"/>

        <!-- Still Watching Dialog -->
        <setting type="lsep" label="30342"/>
        <setting type="sep"/>
        <setting id="smartplay.stillwatching" type="bool" label="30343" default="false"/>
        <setting id="stillwatching.numepisodes" type="slider" subsetting="true" label="30344" option="int" range="1,10"
                 default="3" visible="eq(-1,true)"/>
    </category>

    <!-- Accounts -->
    <category label="30134">

        <!-- General -->
        <setting type="lsep" label="30086"/>
        <setting type="sep"/>
        <setting id="general.accountNotifications" type="bool" label="30135" default="true"/>

        <!-- Trakt -->
        <setting type="lsep" label="30136"/>
        <setting type="sep"/>
        <setting id="trakt.username" type="text" label="30137" enable="false"/>
        <setting id="trakt.authtrakt" type="action" label="30138" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=authTrakt)" visible="eq(-1,)"/>
        <setting id="trakt.scrobbling" type="bool" label="30139" default="true" visible="!eq(-2,)"/>
        <setting id="trakt.ignoreSecondsAtStart" type="slider" subsetting="true" label="30509" option="int"
                 range="30,360" default="180" visible="!eq(-3,) + eq(-1,true)"/>
        <setting id="trakt.playCountMinimumPercent" type="slider" subsetting="true" label="30510" option="int"
                 range="80,95" default="80" visible="!eq(-4,) + eq(-2,true)"/>
        <setting id="trakt.revoketrakt" type="action" label="30140" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=revokeTrakt)" visible="!eq(-5,)"/>

        <!-- Premiumize -->
        <setting type="lsep" label="30141"/>
        <setting type="sep"/>
        <setting id="premiumize.enabled" type="bool" label="30170" default="false"/>
        <setting id="premiumize.auth" label="30361" type="action" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=authPremiumize)" visible="eq(-1,true)"/>
        <setting id="premiumize.username" type="text" subsetting="true" label="30168" default="" enable="false"
                 visible="eq(-2,true)"/>
        <setting id="premiumize.premiumstatus" type="text" subsetting="true" label="30482" enable="false"
                 visible="eq(-3,true)" default=""/>
        <setting id="premiumize.priority" type="slider" subsetting="true" label="30169" option="int" range="1,1,10"
                 default="10" visible="eq(-4,true)"/>
        <setting id="premiumize.torrents" type="bool" subsetting="true" label="30162" default="true"
                 visible="eq(-5,true)"/>
        <setting id="premiumize.hosters" type="bool" subsetting="true" label="30163" default="true"
                 visible="eq(-6,true)"/>
        <setting id="premiumize.transcoded" type="bool" subsetting="true" label="30167" default="false"
                 visible="eq(-7,true)"/>`
        <setting id="premiumize.addToCloud" type="bool" subsetting="true" label="30196" default="false"
                 visible="eq(-8,true)"/>
        <setting id="premiumize.autodelete" type="bool" subsetting="true" label="30166" default="true"
                 visible="eq(-9,true)"/>
        <setting id="premiumize.threshold" type="slider" subsetting="true" label="30165" range="50,50,1000"
                 option="int" default="750" visible="eq(-1,true) + eq(-10,true)"/>
        <setting id="premiumize.cloudInspection" type="bool" subsetting="true" label="30202" default="true"
                 visible="eq(-11,true)"/>

        <!-- Real-Debrid -->
        <setting type="lsep" label="30142"/>
        <setting type="sep"/>
        <setting id="realdebrid.enabled" type="bool" default="false" label="30160"/>
        <setting id="rd.username" type="text" label="30159" default="" enable="false" visible="eq(-1,true)"/>
        <setting id="rd.premiumstatus" type="text" subsetting="true" label="30482" enable="false" visible="eq(-2,true)"
                 default=""/>
        <setting id="rd.auth_start" type="action" label="30158" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=authRealDebrid)" visible="eq(-3,true)"/>
        <setting id="rd.priority" type="slider" subsetting="true" label="30161" option="int" range="1,1,10" default="10"
                 visible="eq(-4,true)"/>
        <setting id="rd.torrents" type="bool" subsetting="true" label="30162" default="true" visible="eq(-5,true)"/>
        <setting id="rd.hosters" type="bool" subsetting="true" label="30163" default="true" visible="eq(-6,true)"/>
        <setting id="rd.autodelete" type="bool" subsetting="true" label="30164" default="true" visible="eq(-7,true)"/>
        <setting id="rd.cloudInspection" type="bool" subsetting="true" label="30202" default="true"
                 visible="eq(-8,true)"/>


        <!-- All Debrid -->
        <setting type="lsep" label="30354"/>
        <setting type="sep"/>
        <setting id="alldebrid.enabled" type="bool" default="false" label="30356"/>
        <setting id="alldebrid.username" type="text" default="" label="30357" enable="false" visible="eq(-1,true)"/>
        <setting id="alldebrid.premiumstatus" type="text" subsetting="true" label="30482" enable="false"
                 visible="eq(-2,true)" default=""/>
        <setting id="alldebrid.auth_start" type="action" label="30358" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=authAllDebrid)" visible="eq(-3,true)"/>
        <setting id="alldebrid.priority" type="slider" subsetting="true" label="30359" option="int" range="1,1,10"
                 default="10" visible="eq(-4,true)"/>
        <setting id="alldebrid.torrents" type="bool" subsetting="true" label="30162" default="true"
                 visible="eq(-5,true)"/>
        <setting id="alldebrid.hosters" type="bool" subsetting="true" label="30163" default="true"
                 visible="eq(-6,true)"/>
        <setting id="alldebrid.autodelete" type="bool" subsetting="true" label="30164" default="true"
                 visible="eq(-7,true)"/>
        <setting id="alldebrid.cloudInspection" type="bool" subsetting="true" label="30202" default="true"
                 visible="eq(-8,true)"/>
    </category>

    <!-- Providers -->
    <category label="30143">

        <!-- General -->
        <setting type="lsep" label="30086"/>
        <setting type="sep"/>
        <setting id="providers.autoupdates" type="bool" label="30145" default="true"/>

        <!-- Manage Provider Packages -->
        <setting type="lsep" label="30147"/>
        <setting type="sep"/>
        <setting id="providers.checkupdates" type="action" label="30146"
                 action="RunPlugin(plugin://plugin.video.seren/?action=manualProviderUpdate)"/>
        <setting id="providers.manage" type="action" label="30147"
                 action="RunPlugin(plugin://plugin.video.seren/?action=manageProviders)"/>
    </category>

    <!-- Sort & Filter -->
    <category label="30155">

        <!-- Source Filters -->
        <setting type="lsep" label="30121"/>
        <setting type="sep"/>
        <setting id="general.maxResolution" type="enum" label="30127" values="4k|1080p|720p|SD" default="0"/>
        <setting id="general.enablesizelimit" type="bool" label="30122" default="true"/>
        <setting id="general.sizelimit.movie" type="slider" subsetting="true" label="30205" option="int" range="0,1,300"
                 default="10" visible="eq(-1,true)"/>
        <setting id="general.sizelimit.episode" type="slider" subsetting="true" label="30123" option="int"
                 range="0,1,300" default="10" visible="eq(-2,true)"/>
        <setting id="general.sizeminimum.movie" type="slider" subsetting="true" label="30564" option="float"
                 range="0.0,0.1,30.0" default="0" visible="eq(-3,true)"/>
        <setting id="general.sizeminimum.episode" type="slider" subsetting="true" label="30565" option="float"
                 range="0.0,0.1,30.0" default="0" visible="eq(-4,true)"/>
        <setting id="general.sizeperminlimit" type="bool" label="90363" default="true" />
        <setting id="general.sizeperminlimit.movie" type="slider" subsetting="true" label="90364" option="int" range="0,1,300"
                 default="10" visible="eq(-1,true)" />
        <setting id="general.sizeperminlimit.episode" type="slider" subsetting="true" label="90365" option="int" range="0,1,300"
                 default="10" visible="eq(-2,true)" />
        <setting id="general.disable3d" type="bool" label="30156" default="true"/>
        <setting id="general.disable265" type="bool" label="30115" default="false"/>
        <setting id="general.disablelowQuality" type="bool" label="30171" default="false"/>
        <setting id="general.hidesd" type="bool" label="30181" default="false"/>
        <setting id="general.disablehdrsources" type="bool" label="30499" default="false"/>

        <!-- Source Sorting -->
        <setting type="lsep" label="30157"/>
        <setting type="sep"/>
        <setting id="general.sortsources" type="enum" label="30124" lvalues="30057|30058|30250|30515" default="0"/>
        <setting id="general.sizesort" type="bool" label="30125" default="true"/>
        <setting id="general.reversesizesort" type="bool" subsetting="true" label="30505" default="false"
                 visible="eq(-1,true)"/>
        <setting id="general.265sort" type="bool" label="30126" default="false"/>
        <setting id="general.lowQualitysort" label="30172" type="bool" default="false"/>
    </category>

    <!-- API Keys -->
    <category label="30144">

        <!-- API Keys -->
        <setting type="lsep" label="30144"/>
        <setting type="sep"/>
        <setting id="advanced.apikeys" type="bool" label="30284" default="false"/>

        <!-- TMDb -->
        <setting id="tmdb.apikey" type="text" subsetting="true" label="30151" default="" visible="eq(-1,true)"/>

        <!-- Trakt -->
        <setting id="trakt.clientid" type="text" subsetting="true" label="30152" default="" visible="eq(-2,true)"/>
        <setting id="trakt.secret" type="text" subsetting="true" label="30153" default="" visible="eq(-3,true)"/>

        <!-- TVDB -->
        <setting id="tvdb.apikey" type="text" subsetting="true" label="30154" default="" visible="eq(-4,true) "/>

        <!-- OMDb -->
        <setting id="omdb.apikey" type="text" subsetting="true" label="30478" default="" visible="eq(-5,true) "/>
    </category>

    <!-- Shortcuts -->
    <category label="30149">

        <!-- Clear Cache -->
        <setting type="lsep" label="30028"/>
        <setting type="sep"/>
        <setting id="cache.clear" type="action" label="30028"
                 action="RunPlugin(plugin://plugin.video.seren/?action=clearCache)"/>
        <setting id="cache.cleartorrent" type="action" label="30039"
                 action="RunPlugin(plugin://plugin.video.seren/?action=clearTorrentCache)"/>
        <setting id="cache.clearsearch" type="action" label="30193"
                 action="RunPlugin(plugin://plugin.video.seren/?action=clearSearchHistory)"/>
        <setting id="cache.wipeaddon" type="action" label="30041" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=cleanInstall)"/>

        <!-- Trakt Sync Tools -->
        <setting type="lsep" label="30228"/>
        <setting type="sep"/>
        <setting id="traktdb.flush" type="action" label="30229"
                 action="RunPlugin(plugin://plugin.video.seren/?action=flushTraktActivities)"/>
        <setting id="traktdb.force" type="action" label="30230"
                 action="RunPlugin(plugin://plugin.video.seren/?action=forceTraktSync)"/>
        <setting id="traktdb.rebuild" type="action" label="30231"
                 action="RunPlugin(plugin://plugin.video.seren/?action=rebuildTraktDatabase)"/>

        <!-- Reuse Language Invoker -->
        <setting type="lsep" label="30561"/>
        <setting type="sep"/>
        <setting id="reuselanguageinvoker.status" label="30562" type="text" default="Enabled" enable="false"/>
        <setting id="reuselanguageinvoker.toggle" label="30563" type="action" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=toggleLanguageInvoker)"/>

        <!-- Window Tests -->
        <setting type="lsep" label="30576"/>
        <setting type="sep"/>
        <setting id="windowtests.playingNext" type="action" label="30486"
                 action="RunPlugin(plugin://plugin.video.seren/?action=testPlayingNext)"/>
        <setting id="windowtests.stillWatching" type="action" label="30487"
                 action="RunPlugin(plugin://plugin.video.seren/?action=testStillWatching)"/>
        <setting id="windowtests.resolverWindow" type="action" label="30488"
                 action="RunPlugin(plugin://plugin.video.seren/?action=testResolverWindow)"/>
        <setting id="windowtests.sourceSelectWindow" type="action" label="30489"
                 action="RunPlugin(plugin://plugin.video.seren/?action=testSourceSelectWindow)"/>
        <setting id="windowtests.manualCacheWindow" type="action" label="30490"
                 action="RunPlugin(plugin://plugin.video.seren/?action=testManualCacheWindow)"/>
    </category>
</settings>
