<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <!-- Interface -->
    <category label="30284">

        <!-- General -->
        <setting type="lsep" label="30087"/>
        <setting id="searchHistory" type="bool" label="30177" default="false"/>
        <setting id="general.flatten.episodes" type="bool" label="30230" default="false"/>
        <setting id="general.hideSpecials" type="bool" label="30189" default="false"/>
        <setting id="general.hideUnAired" type="bool" label="30187" default="true"/>
        <setting id="general.hideWatched" type="bool" label="30487" default="false"/>
        <setting id="general.datedelay" type="bool" label="30181" default="false"/>
        <setting id="trakt.auth" type="text" default="" visible="false"/>
        <setting id="nextup.sort" type="enum" label="30094" default="0" lvalues="30095|30096" enable="!eq(-1,)"/>
        <setting id="general.sourceselectlines" type="bool" label="30097" default="true" visible="false"/>
        <setting id="general.textColorSelect" type="action" label="30109" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=colorPicker)"/>
        <setting id="general.displayColor" type="text" label="30110" default="None" enable="false"/>
        <setting id="general.setViews" type="bool" label="30152" default="false"/>
        <setting id="general.viewidswitch" type="bool" subsetting='true' label="30100" default="false"
                 visible="eq(-1,true)"/>
        <setting id="addon.view" type="enum" subsetting="true" label="30206"
                 lvalues='30246|30247|30248|30249|30250|30251|30252|30253|30254' default="0"
                 visible="eq(-1,false) + eq(-2,true)"/>
        <setting id="addon.view.id" type="number" subsetting="true" label="30207" default=""
                 visible="eq(-2,true) + eq(-3,true)"/>
        <setting id="movie.view" type="enum" subsetting="true" label="30101"
                 lvalues='30246|30247|30248|30249|30250|30251|30252|30253|30254' default="0"
                 visible="eq(-3,false) + eq(-4,true)"/>
        <setting id="movie.view.id" type="number" subsetting="true" label="30102" default=""
                 visible="eq(-4,true) + eq(-5,true)"/>
        <setting id="show.view" type="enum" subsetting="true" label="30103"
                 lvalues='30246|30247|30248|30249|30250|30251|30252|30253|30254' default="0"
                 visible="eq(-5,false) + eq(-6,true)"/>
        <setting id="show.view.id" type="number" subsetting="true" label="30104" default=""
                 visible="eq(-6,true) + eq(-7,true)"/>
        <setting id="episode.view" type="enum" subsetting="true" label="30105"
                 lvalues='30246|30247|30248|30249|30250|30251|30252|30253|30254' default="0"
                 visible="eq(-7,false) + eq(-8,true)"/>
        <setting id="episode.view.id" type="number" subsetting="true" label="30106" default=""
                 visible="eq(-8,true) + eq(-9,true)"/>
        <setting id="season.view" type="enum" subsetting="true" label="30107"
                 lvalues='30246|30247|30248|30249|30250|30251|30252|30253|30254' default="0"
                 visible="eq(-9,false) + eq(-10,true)"/>
        <setting id="season.view.id" type="number" subsetting="true" label="30108" default=""
                 visible="eq(-10,true) + eq(-11,true)"/>
        <setting id="general.paginatetraktlists" type="bool" label="30355" default="true"/>
        <setting id="general.paginatecollection" type="bool" label="30478" default="true"/>
        <setting id="general.genres.endpoint" type="enum" label="30482" default="0" lvalues="30006|30004"/>
        <setting id="general.subtitle.enable" type="bool" label="30486" default="true"/>
        <setting id="general.widget.hide_next" type="bool" label="30488" default="false"/>
        <!-- Themes -->
        <setting type="lsep" label="30221"/>
        <setting id="skin.updateAutomatic" label="30371" default="True" type="bool"/>
        <setting id="skin.active" type="text" label="30222" default="Seren Fox" enable="false"/>
        <setting id="skin.install" type="action" label="30225"
                 action="RunPlugin(plugin://plugin.video.seren/?action=installSkin)"/>
        <setting id="skin.uninstall" type="action" label="30224"
                 action="RunPlugin(plugin://plugin.video.seren/?action=uninstallSkin)"/>
        <setting id="skin.switch" type="action" label="30223"
                 action="RunPlugin(plugin://plugin.video.seren/?action=switchSkin)"/>
        <setting id="skin.updates" type="action" label="30150"
                 action="RunPlugin(plugin://plugin.video.seren/?action=checkSkinUpdates)"/>

        <!-- Advanced -->
        <setting type="lsep" label="30286"/>
        <setting type="bool" id="general.fanart.fallback" label="30524" default="false" />
        <setting id="general.checkAddonUpdates" type="bool" label="30200" default="true"/>
        <setting id="general.menucaching" type="bool" label="30215" default="true"/>
        <setting id="general.appendtitles" type="enum" label="30154" default="3" lvalues="30389|30390|30391|30392"/>
        <setting id="general.appendepisodegeneral" type="enum" label="30503" default="0"
                 lvalues="30389|30390|30391|30392"/>
        <setting id="general.appendListTitles" type="enum" label="30394" default="1" lvalues="30395|30396"/>
        <setting id="general.disableNotificationSound" type="bool" label="30393" default="false"/>
        <setting id="general.showRemainingUnwatched" type="bool" label="30479" default="false"/>
        <setting id="item.limit" type="slider" label="30099" option="int" range="10,100" default="20"/>
        <setting id="general.metalocation" type="enum" label="30098" lvalues="30140|30281|30282" default="1"/>
        <setting id="general.meta.showoriginaltitle" type="bool" label="30489" default="false"/>
        <setting id="general.force.widget.refresh.playback" type="bool" label="30516" default="false"/>


        <!-- HIDDEN SETTINGS BELONG HERE -->
        <setting id="migration.attempted" type="bool" default="false" visible="false"/>
        <setting id="tvdb.jw" type="text" default="" visible="false"/>
        <setting id="tvdb.expiry" type="text" default="0" visible="false"/>
        <setting id="trakt.auth" type="text" default="" visible="false"/>
        <setting id="trakt.refresh" type="text" default="" visible="false"/>
        <setting id="trakt.expires" type="number" default="" visible="false"/>
        <setting id="rd.auth" type="text" default="" visible="false"/>
        <setting id="rd.refresh" type="text" default="" visible="false"/>
        <setting id="rd.client_id" type="text" default="" visible="false"/>
        <setting id="rd.expiry" type="text" default="0" visible="false"/>
        <setting id="rd.secret" type="text" default="" visible="false"/>
        <setting id="premiumize.token" type="text" default="" visible="false"/>
        <setting id="general.tempSilent" type="text" default="false" visible="false"/>
        <!--        <setting id="general.rdexpirycheck" type="text" default="" visible="false" />-->
        <!--        <setting id="general.pmexpirycheck" type="text" default="" visible="false" />-->
        <setting id="general.textColor" type="text" default="" visible="false"/>
        <!--        <setting id="general.fake" type="text" default="" visible="false" />-->
        <setting id="provider.updateCheckTimeStamp" type="text" default="0" visible="false"/>
        <setting id="addon.updateCheckTimeStamp" type="text" default="0" visible="false"/>
        <setting id="alldebrid.apikey" type="text" default="" visible="false"/>
        <setting id="general.trakt.failure.timeout" type="number" visible="false" default="0"/>
        <setting id="update.news.version" type="text" default="" visible="false"/>

        <!-- <setting id="general.resolvedisplay" type="enum" label="30192" lvalues="30193|30194" default="30193" /> -->
        <!-- <setting id="general.sourceselect" type="enum" label="30091" lvalues="30093|30092" default="1" /> -->
        <!-- <setting id="general.autoselect" type="bool" subsetting="true" label="30195" default="false" /> -->
        <!-- <setting id="general.autoselectTime" type="slider" subsetting="true" label="30196" option="int" range="1,1,20" default="10" visible="eq(-1,true)" /> -->

        <!-- END HIDDEN SETTINGS -->
    </category>

    <category label="30285">

        <!-- Fanart.TV -->
        <setting type="lsep" label="30180"/>
        <setting type="sep"/>
        <setting id="fanart.apikey" type="text" label="30179" default=""/>
        <setting id="artwork.preferredsize" label="30374" type="enum" default="1" lvalues="30375|30376|30377"/>

        <!-- Artwork Settings -->
        <setting type="lsep" label="30295"/>
        <setting type="sep"/>
        <setting id="movies.preferedsource" type="enum" label="30279" lvalues="30180|30281" default="1"
                 enable="!eq(-3,)"/>
        <setting id="movie.artwork.advanced" type="bool" label="30291" default="false"/>
        <setting id="movies.poster_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30290]: $ADDON[plugin.video.seren 30247]" option="int" range="1,1,10"
                 default="1" visible="eq(-1,true)"/>
        <setting id="movies.fanart_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30290]: $ADDON[plugin.video.seren 30254]" option="int" range="1,1,20"
                 default="1" visible="eq(-2,true)"/>
        <setting id="movies.banner" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30290]: $ADDON[plugin.video.seren 30253]" default="true"
                 visible="eq(-3,true)"/>
        <setting id="movies.landscape" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30290]: $ADDON[plugin.video.seren 30341]" default="true"
                 visible="eq(-4,true)"/>
        <setting id="movies.keyart_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30290]: $ADDON[plugin.video.seren 30339]" option="int" range="0,1,10"
                 default="0" visible="eq(-5,true) + !eq(-9,)"/>
        <setting id="movies.clearlogo" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30290]: $ADDON[plugin.video.seren 30340]" default="true"
                 visible="eq(-6,true) + !eq(-10,)"/>
        <setting id="movies.clearart" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30290]: $ADDON[plugin.video.seren 30343]" default="true"
                 visible="eq(-7,true) + !eq(-11,)"/>
        <setting id="movies.discart" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30290]: $ADDON[plugin.video.seren 30344]" default="true"
                 visible="eq(-8,true) + !eq(-12,)"/>
        <setting id="movies.characterart_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30290]: $ADDON[plugin.video.seren 30342]" option="int" range="0,1,20"
                 default="0" visible="eq(-9,true) + !eq(-13,)"/>

        <setting type="lsep" label="30296"/>
        <setting type="sep"/>
        <setting id="tvshows.preferedsource" type="enum" label="30280" lvalues="30180|30281|30282" default="1"
                 enable="!eq(-16,)"/>
        <setting id="tv.artwork.advanced" type="bool" label="30292" default="false"/>
        <setting id="tvshows.poster_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30289]: $ADDON[plugin.video.seren 30247]" option="int" range="1,1,10"
                 default="1" visible="eq(-1,true)"/>
        <setting id="tvshows.fanart_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30289]: $ADDON[plugin.video.seren 30254]" option="int" range="1,1,20"
                 default="1" visible="eq(-2,true)"/>
        <setting id="tvshows.banner" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30289]: $ADDON[plugin.video.seren 30253]" default="true"
                 visible="eq(-3,true)"/>
        <setting id="tvshows.landscape" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30289]: $ADDON[plugin.video.seren 30341]" default="true"
                 visible="eq(-4,true)"/>
        <setting id="tvshows.keyart_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30289]: $ADDON[plugin.video.seren 30339]" option="int" range="0,1,10"
                 default="0" visible="eq(-5,true) + !eq(-22,)"/>
        <setting id="tvshows.clearlogo" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30289]: $ADDON[plugin.video.seren 30340]" default="true"
                 visible="eq(-6,true) + !eq(-23,)"/>
        <setting id="tvshows.clearart" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30289]: $ADDON[plugin.video.seren 30343]" default="true"
                 visible="eq(-7,true) + !eq(-24,)"/>
        <setting id="tvshows.characterart_limit" type="slider" subsetting="true"
                 label="$ADDON[plugin.video.seren 30289]: $ADDON[plugin.video.seren 30342]" option="int" range="0,1,20"
                 default="0" visible="eq(-8,true) + !eq(-25,)"/>
        <setting id="season.poster" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30287]: $ADDON[plugin.video.seren 30247]" default="true"
                 visible="eq(-9,true)"/>
        <setting id="season.banner" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30287]: $ADDON[plugin.video.seren 30253]" default="true"
                 visible="eq(-10,true)"/>
        <setting id="season.landscape" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30287]: $ADDON[plugin.video.seren 30341]" default="true"
                 visible="eq(-11,true)"/>
        <setting id="season.fanart" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30287]: $ADDON[plugin.video.seren 30254]" default="true"
                 visible="eq(-12,true)"/>
        <setting id="episode.fanart" type="bool" subsetting="true"
                 label="$ADDON[plugin.video.seren 30288]: $ADDON[plugin.video.seren 30254]" default="true"
                 visible="eq(-13,true)"/>
    </category>

    <!-- Scraping -->
    <category label="30117">

        <!-- General -->
        <setting type="lsep" label="30087"/>
        <setting type="sep"/>
        <setting id="general.scrapedisplay" type="enum" label="30191" lvalues="30193|30194" default="0"/>
        <setting id="general.torrentCache" type="bool" label="30118" default="true"/>
        <setting id="general.timeout" type="slider" label="30120" option="int" range="10,60" default="60"/>

        <!-- Auto Caching Assistant -->
        <setting type="lsep" label="30121"/>
        <setting type="sep"/>
        <setting id="general.autocache" type="bool" label="30122" default="true"/>
        <setting id="general.cacheAssistMode" type="enum" subsetting="true" label="30123" lvalues="30255|30256"
                 visible="eq(-1,true)"/>
        <setting id="general.cachelocation" type="enum" subsetting="true" label="30124" lvalues="30145|30146|30365"
                 visible="eq(-2,true)"/>

        <!-- Preemptive Termination -->
        <setting type="lsep" label="30132"/>
        <setting type="sep"/>
        <setting id="preem.enabled" type="bool" label="30133" default="true"/>
        <setting id="preem.movieres" type="enum" subsetting="true" label="30134" values="4K|1080p|720p|SD" default="0"
                 visible="eq(-1,true)"/>
        <setting id="preem.tvres" type="enum" subsetting="true" label="30135" values="4K|1080p|720p|SD" default="1"
                 visible="eq(-2,true)"/>
        <setting id="preem.limit" type="slider" subsetting="true" label="30136" option="int" range="0,20" default="5"
                 visible="eq(-3,true)"/>
        <setting id="preem.type" type="enum" subsetting="true" label="30137" lvalues="30257|30258|30259" default="0"
                 visible="eq(-4,true)"/>
        <setting id="preem.cloudfiles" type="bool" label="30210" default="true"/>
        <setting id="preem.adaptiveSources" type="bool" label="30518" default="true"/>
    </category>

    <!-- Downloads -->
    <category label="30509">
        <setting id="set.download.location" type="action" label="30480"
                 action="RunPlugin(plugin://plugin.video.seren/?action=setDownloadLocation)"/>
        <setting id="download.location" type="text" label="30481" enable="false" default="userdata"/>
    </category>

    <!-- Playback -->
    <category label="30283">

        <!-- General -->
        <setting type="lsep" label="30087"/>
        <setting id="general.playstyleMovie" type="enum" label="30213" lvalues="30089|30090" default="0"/>
        <setting id="general.playstyleEpisodes" type="enum" label="30088" lvalues="30089|30090" default="0"/>
        <setting id="general.autotrynext" type="bool" label="30217" default="true"/>
        <setting id="general.resolvefailurehandling" type="enum" label="30528" lvalues="30529|30530" default="1"/>
        <setting id="general.bookmarkstyle" type="enum" label="30116" default="0" lvalues="30360|30255|30361"/>
        <setting id="smartplay.displaystyle" type="enum" label="30345" lvalues="30193|30194" default="0"/>
        <setting id="smartplay.playlistcreate" type="bool" label="30113" default="true"/>
        <setting id="smartplay.clickresume" type="bool" label="30114" default="false"/>
        <setting id="smartPlay.preScrape" type="bool" label="30115" default="true"/>

        <!-- Next Episode Dialog -->
        <setting type="lsep" label="30346"/>
        <setting type="sep"/>
        <setting id="smartplay.playingnextdialog" type="bool" label="30111" default="true"/>
        <setting id="playingnext.time" type="slider" subsetting="true" label="30112" option="int" range="10,180"
                 default="30" visible="eq(-1,true)"/>
        <!--<setting id="playingnext.dialogstyle" type="enum" subsetting="true" label="30347" lvalues="30193|30348" default="0" visible="eq(-2,true)" />-->
        <setting id="playingnext.defaultaction" type="enum" subsetting="true" label="30349" lvalues="30350|30351"
                 default="0" visible="eq(-2,true)"/>

        <!-- Still Watching Dialog -->
        <setting type="lsep" label="30352"/>
        <setting type="sep"/>
        <setting id="smartplay.stillwatching" type="bool" label="30353" default="false"/>
        <setting id="stillwatching.numepisodes" type="slider" subsetting="true" label="30354" option="int" range="1,10"
                 default="3" visible="eq(-1,true)"/>
    </category>

    <!-- Accounts -->
    <category label="30138">

        <!-- General -->
        <setting type="lsep" label="30087"/>
        <setting type="sep"/>
        <setting id="general.accountNotifications" type="bool" label="30139" default="true"/>

        <!-- Trakt -->
        <setting type="lsep" label="30140"/>
        <setting type="sep"/>
        <setting id="trakt.username" type="text" label="30141" enable="false"/>
        <setting id="trakt.authtrakt" type="action" label="30142" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=authTrakt)"/>
        <setting id="trakt.scrobbling" type="bool" label="30143" default="true" visible="!eq(-2,)"/>
        <setting id="trakt.ignoreSecondsAtStart" type="slider" subsetting="true" label="30521" option="int"
                 range="30,360" default="180" visible="!eq(-3,) + eq(-1,true)"/>
        <setting id="trakt.playCountMinimumPercent" type="slider" subsetting="true" label="30522" option="int"
                 range="80,95" default="80" visible="!eq(-4,) + eq(-2,true)"/>
        <setting id="trakt.revoketrakt" type="action" label="30144" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=revokeTrakt)" visible="!eq(-5,)"/>

        <!-- Premiumize -->
        <setting type="lsep" label="30145"/>
        <setting type="sep"/>
        <setting id="premiumize.enabled" type="bool" label="30174" default="false"/>
        <setting id="premiumize.auth" label="30372" type="action" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=authPremiumize)" visible="eq(-1,true)"/>
        <setting id="premiumize.username" type="text" subsetting="true" label="30172" default="" enable="false"
                 visible="eq(-2,true)"/>
        <setting id="premiumize.premiumstatus" type="text" subsetting="true" label="30494" enable="false"
                 visible="eq(-3,true)" default=""/>
        <setting id="premiumize.priority" type="slider" subsetting="true" label="30173" option="int" range="1,1,10"
                 default="10" visible="eq(-4,true)"/>
        <setting id="premiumize.torrents" type="bool" subsetting="true" label="30166" default="true"
                 visible="eq(-5,true)"/>
        <setting id="premiumize.hosters" type="bool" subsetting="true" label="30167" default="true"
                 visible="eq(-6,true)"/>
        <setting id="premiumize.transcoded" type="bool" subsetting="true" label="30171" default="false"
                 visible="eq(-7,true)"/>`
        <setting id="premiumize.addToCloud" type="bool" subsetting="true" label="30205" default="false"
                 visible="eq(-8,true)"/>
        <setting id="premiumize.autodelete" type="bool" subsetting="true" label="30170" default="true"
                 visible="eq(-9,true)"/>
        <setting id="premiumize.threshold" type="slider" subsetting="true" label="30169" range="50,50,1000"
                 default="750" visible="eq(-1,true) + eq(-10,true)"/>
        <setting id="premiumize.cloudInspection" type="bool" subsetting="true" label="30211" default="true"
                 visible="eq(-11,true)"/>

        <!-- Real-Debrid -->
        <setting type="lsep" label="30146"/>
        <setting type="sep"/>
        <setting id="realdebrid.enabled" type="bool" default="false" label="30164"/>
        <setting id="rd.username" type="text" label="30163" default="" enable="false" visible="eq(-1,true)"/>
        <setting id="rd.premiumstatus" type="text" subsetting="true" label="30494" enable="false" visible="eq(-2,true)"
                 default=""/>
        <setting id="rd.auth_start" type="action" label="30162" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=authRealDebrid)" visible="eq(-3,true)"/>
        <setting id="rd.priority" type="slider" subsetting="true" label="30165" option="int" range="1,1,10" default="10"
                 visible="eq(-4,true)"/>
        <setting id="rd.torrents" type="bool" subsetting="true" label="30166" default="true" visible="eq(-5,true)"/>
        <setting id="rd.hosters" type="bool" subsetting="true" label="30167" default="true" visible="eq(-6,true)"/>
        <setting id="rd.autodelete" type="bool" subsetting="true" label="30168" default="true" visible="eq(-7,true)"/>
        <setting id="rd.cloudInspection" type="bool" subsetting="true" label="30211" default="true"
                 visible="eq(-8,true)"/>


        <!-- All Debrid -->
        <setting type="lsep" label="30365"/>
        <setting type="sep"/>
        <setting id="alldebrid.enabled" type="bool" default="false" label="30367"/>
        <setting id="alldebrid.username" type="text" default="" label="30368" enable="false" visible="eq(-1,true)"/>
        <setting id="alldebrid.premiumstatus" type="text" subsetting="true" label="30494" enable="false"
                 visible="eq(-2,true)" default=""/>
        <setting id="alldebrid.auth_start" type="action" label="30369" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=authAllDebrid)" visible="eq(-3,true)"/>
        <setting id="alldebrid.priority" type="slider" subsetting="true" label="30370" option="int" range="1,1,10"
                 default="10" visible="eq(-4,true)"/>
        <setting id="alldebrid.torrents" type="bool" subsetting="true" label="30166" default="true"
                 visible="eq(-5,true)"/>
        <setting id="alldebrid.hosters" type="bool" subsetting="true" label="30167" default="true"
                 visible="eq(-6,true)"/>
        <setting id="alldebrid.cloudInspection" type="bool" subsetting="true" label="30211" default="true"
                 visible="eq(-7,true)"/>
    </category>

    <!-- Providers -->
    <category label="30147">

        <!-- General -->
        <setting type="lsep" label="30087"/>
        <setting type="sep"/>
        <setting id="providers.autoupdates" type="bool" label="30149" default="true"/>

        <!-- Manage Provider Packages -->
        <setting type="lsep" label="30151"/>
        <setting type="sep"/>
        <setting id="providers.checkupdates" type="action" label="30150"
                 action="RunPlugin(plugin://plugin.video.seren/?action=manualProviderUpdate)"/>
        <setting id="providers.manage" type="action" label="30151"
                 action="RunPlugin(plugin://plugin.video.seren/?action=manageProviders)"/>
    </category>

    <!-- Sort & Filter -->
    <category label="30159">

        <!-- Source Filters -->
        <setting type="lsep" label="30125"/>
        <setting type="sep"/>
        <setting id="general.maxResolution" type="enum" label="30131" values="4k|1080p|720p|SD" default="0"/>
        <setting id="general.enablesizelimit" type="bool" label="30126" default="true"/>
        <setting id="general.sizelimit.movie" type="slider" subsetting="true" label="30214" option="int" range="0,1,300"
                 default="10" visible="eq(-1,true)"/>
        <setting id="general.sizelimit.episode" type="slider" subsetting="true" label="30127" option="int"
                 range="0,1,300" default="10" visible="eq(-2,true)"/>
        <setting id="general.sizeminimum.movie" type="slider" subsetting="true" label="30576" option="float"
                 range="0.0,0.1,30.0" default="0" visible="eq(-3,true)"/>
        <setting id="general.sizeminimum.episode" type="slider" subsetting="true" label="30577" option="float"
                 range="0.0,0.1,30.0" default="0" visible="eq(-4,true)"/>
        <setting id="general.disable3d" type="bool" label="30160" default="true"/>
        <setting id="general.disable265" type="bool" label="30119" default="false"/>
        <setting id="general.disablelowQuality" type="bool" label="30175" default="false"/>
        <setting id="general.hidesd" type="bool" label="30185" default="false"/>
        <setting id="general.disablehdrsources" type="bool" label="30511" default="false"/>

        <!-- Source Sorting -->
        <setting type="lsep" label="30161"/>
        <setting type="sep"/>
        <setting id="general.sortsources" type="enum" label="30128" lvalues="30058|30059|30260|30527" default="0"/>
        <setting id="general.sizesort" type="bool" label="30129" default="true"/>
        <setting id="general.reversesizesort" type="bool" subsetting="true" label="30517" default="false"
                 visible="eq(-1,true)"/>
        <setting id="general.265sort" type="bool" label="30130" default="false"/>
        <setting id="general.lowQualitysort" label="30176" type="bool" default="false"/>
    </category>

    <!-- API Keys -->
    <category label="30148">

        <!-- API Keys -->
        <setting type="lsep" label="30148"/>
        <setting type="sep"/>
        <setting id="advanced.apikeys" type="bool" label="30294" default="false"/>

        <!-- TMDb -->
        <setting id="tmdb.apikey" type="text" subsetting="true" label="30155" default="" visible="eq(-1,true)"/>

        <!-- Trakt -->
        <setting id="trakt.clientid" type="text" subsetting="true" label="30156" default="" visible="eq(-2,true)"/>
        <setting id="trakt.secret" type="text" subsetting="true" label="30157" default="" visible="eq(-3,true)"/>

        <!-- TVDB -->
        <setting id="tvdb.apikey" type="text" subsetting="true" label="30158" default="" visible="eq(-4,true) "/>

        <!-- OMDb -->
        <setting id="omdb.apikey" type="text" subsetting="true" label="30490" default="" visible="eq(-5,true) "/>
    </category>

    <!-- Shortcuts -->
    <category label="30153">

        <!-- Clear Cache -->
        <setting type="lsep" label="30029"/>
        <setting type="sep"/>
        <setting id="cache.clear" type="action" label="30029"
                 action="RunPlugin(plugin://plugin.video.seren/?action=clearCache)"/>
        <setting id="cache.cleartorrent" type="action" label="30040"
                 action="RunPlugin(plugin://plugin.video.seren/?action=clearTorrentCache)"/>
        <setting id="cache.clearsearch" type="action" label="30202"
                 action="RunPlugin(plugin://plugin.video.seren/?action=clearSearchHistory)"/>
        <setting id="cache.wipeaddon" type="action" label="30042" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=cleanInstall)"/>

        <!-- Trakt Sync Tools -->
        <setting type="lsep" label="30237"/>
        <setting type="sep"/>
        <setting id="traktdb.flush" type="action" label="30238"
                 action="RunPlugin(plugin://plugin.video.seren/?action=flushTraktActivities)"/>
        <setting id="traktdb.force" type="action" label="30239"
                 action="RunPlugin(plugin://plugin.video.seren/?action=forceTraktSync)"/>
        <setting id="traktdb.clearmeta" type="action" label="30240"
                 action="RunPlugin(plugin://plugin.video.seren/?action=flushTraktDBMeta)"/>
        <setting id="traktdb.rebuild" type="action" label="30241"
                 action="RunPlugin(plugin://plugin.video.seren/?action=rebuildTraktDatabase)"/>

        <setting type="lsep" label="30573"/>
        <setting type="sep"/>
        <setting id="reuselanguageinvoker.status" label="30574" type="text" default="Enabled" enable="false"/>
        <setting id="reuselanguageinvoker.toggle" label="30575" type="action" option="close"
                 action="RunPlugin(plugin://plugin.video.seren/?action=toggleLanguageInvoker)"/>

    </category>
</settings>
